/*********************
variables
*********************/
$fontFamily: 'Raleway', sans-serif;
$font: 16px;
$black: #1f1f1f;
$pink: #ef1f52;
$gray: gray;
$lightgray: #cccac5;
$boxShadow: #cccac5;
$white: #fff;
$transition: .3s ease;
$padding: 50px 0;

/*********************
mixins
*********************/
@mixin flex($justify, $align, $direction){
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin btn {
    padding: 15px 40px;
    background: $pink;
    border: none;
    color: $white;
    font-size: 1.5rem;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    &:hover{
        background: $black;
        transition: $transition;
    }
}

/*********************
basic styles
*********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: black;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: $black;

    &:hover{
        color: $white;
        transition: $transition;
    }
}
.container{
    width: 80%;
    margin: auto;
    @media (max-width: 767px){
        width: 95%;
    }
}
/*********************
nav
*********************/
nav{
    @include flex(space-between,center,row);
    background: linear-gradient(to right, $pink, $lightgray);
    padding: 20px 50px;
    @media (max-width: 767px){
        @include flex(space-between,center,column);
        text-align: center;
    }
    .logo{
        font-size: 1.8rem;
        line-height: 25px;
        font-weight: 700;
        span{
            font-size: 1rem;
            color: $white;
            font-weight: 600;
        }
    }
    ul{
        @include flex(space-between,center ,row );
        @media (max-width: 767px){
            @include flex(space-between,center,column);
        }
        li{
            margin: 0 20px;
            text-transform: uppercase;
            &:nth-child(5){
                background: $pink;
                padding: 10px 20px;
                a{
                    color: $white;
                    &:hover{
                        color: $lightgray;
                        transition: $transition;
                    }
                }
            }
            &:nth-child(6){
                background: $black;
                padding: 10px 15px;
                a{
                    color: $white;
                    &:hover{
                        color: $lightgray;
                        transition: $transition;
                    }
                }
            }
        }
       
    }
}
/*********************
HEADER
*********************/
header{
    background-image: url(../img/header.jpg);
    height: 80vh;
    background-position: center right;
    background-size: cover;
    @include flex(center,flex-end ,column );
    padding-right: 200px;
    text-align: right;
    @media (max-width: 767px){
        text-align: left;
        padding: 30px;
        @include flex(space-between,flex-start,column);   
    }
    h1{
        font-size: 4rem;
        line-height: 1.2;
        @media (max-width: 767px){
            font-size: 2.5rem;   
        }
    }
    h3{
        font-size: 3rem;
        color: $pink;
        padding: 20px 0;
        @media (max-width: 767px){
            font-size: 2rem; 
        }
    }
    p{
        color: $pink;
        font-size: 1.3rem;
        
    }
    
    
    button{
        @include btn();
    }
}
/*********************
FOOTER
*********************/
footer{
    padding: 100px 0;
    background: linear-gradient(to right, $black, $pink);
    text-align: center;
    .container{
        @include flex(space-between,center,row);
        .col{
            flex: 1;
            @media (max-width: 767px){
                flex: 0 0 100%;
                margin-bottom: 20px;
            }
            .logo{
                color: $white;
                font-size: 1.5rem;
                line-height: 25px;
                font-weight: 600;
                span{
                    font-size: 1rem;
                    color: $pink;
                    font-weight: 500;
                }
                &:hover{
                    color: $pink;
                    transition: $transition;
                }
            }
            i{
                color: $white;
            }
            p{
                color: $white;
            }
        }
    }
}