/*********************
variables
*********************/
/*********************
mixins
*********************/
/*********************
basic styles
*********************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #1f1f1f;
}

a:hover {
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.container {
  width: 80%;
  margin: auto;
}

@media (max-width: 767px) {
  .container {
    width: 95%;
  }
}

/*********************
nav
*********************/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: -webkit-gradient(linear, left top, right top, from(#ef1f52), to(#cccac5));
  background: linear-gradient(to right, #ef1f52, #cccac5);
  padding: 20px 50px;
}

@media (max-width: 767px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

nav .logo {
  font-size: 1.8rem;
  line-height: 25px;
  font-weight: 700;
}

nav .logo span {
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

nav ul li {
  margin: 0 20px;
  text-transform: uppercase;
}

nav ul li:nth-child(5) {
  background: #ef1f52;
  padding: 10px 20px;
}

nav ul li:nth-child(5) a {
  color: #fff;
}

nav ul li:nth-child(5) a:hover {
  color: #cccac5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav ul li:nth-child(6) {
  background: #1f1f1f;
  padding: 10px 15px;
}

nav ul li:nth-child(6) a {
  color: #fff;
}

nav ul li:nth-child(6) a:hover {
  color: #cccac5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

/*********************
HEADER
*********************/
header {
  background-image: url(../img/header.jpg);
  height: 80vh;
  background-position: center right;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 200px;
  text-align: right;
}

@media (max-width: 767px) {
  header {
    text-align: left;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header h1 {
  font-size: 4rem;
  line-height: 1.2;
}

@media (max-width: 767px) {
  header h1 {
    font-size: 2.5rem;
  }
}

header h3 {
  font-size: 3rem;
  color: #ef1f52;
  padding: 20px 0;
}

@media (max-width: 767px) {
  header h3 {
    font-size: 2rem;
  }
}

header p {
  color: #ef1f52;
  font-size: 1.3rem;
}

header button {
  padding: 15px 40px;
  background: #ef1f52;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
}

header button:hover {
  background: #1f1f1f;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

/*********************
FOOTER
*********************/
footer {
  padding: 100px 0;
  background: -webkit-gradient(linear, left top, right top, from(#1f1f1f), to(#ef1f52));
  background: linear-gradient(to right, #1f1f1f, #ef1f52);
  text-align: center;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .container .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 767px) {
  footer .container .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

footer .container .col .logo {
  color: #fff;
  font-size: 1.5rem;
  line-height: 25px;
  font-weight: 600;
}

footer .container .col .logo span {
  font-size: 1rem;
  color: #ef1f52;
  font-weight: 500;
}

footer .container .col .logo:hover {
  color: #ef1f52;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

footer .container .col i {
  color: #fff;
}

footer .container .col p {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */